.activity {
  position: relative;
  background: url("/assets/img/section__activity.jpg") center center/cover
    no-repeat;
  padding-bottom: $sectionIndent;
  overflow: hidden;

  &__title {
    text-align: center;
    font-size: 40px;
    color: #ede1ce;
  }

  &__subtitle {
    text-align: center;
    font-weight: 600;
    font-size: 26px;
    color: #ede1ce;
    opacity: 0;
    transform: translate(0, 200%);
    transition: all 1s ease;
  }

  &__subtitle.anim-active {
    opacity: 1;
    transform: translate(0, 0);
  }

  &__wrap {
    display: flex;
    justify-content: center;
  }

  &__block {
    margin: 100px 30px 100px 30px;
    opacity: 0;

    &:nth-child(1) {
      transform: translate(-120%, 0);
      transition: all 1s ease;
    }
    &:nth-child(2) {
      transform: translate(0, 120%);
      transition: all 1s ease 0.15s;
    }
    &:nth-child(3) {
      transform: translate(120%, 0);
      transition: all 1s ease 0.3s;
    }
    &:nth-child(1).anim-active,
    &:nth-child(2).anim-active,
    &:nth-child(3).anim-active {
      transform: translate(0, 0);
      opacity: 1;
    }
  }

  &__block_img {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__block_title {
    margin-top: 6px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    color: #ede1ce;
  }
}
