.choose {
  padding-bottom: 130px;

  &__title {
    margin-bottom: 30px;
  }

  &__anim-block {
    opacity: 0;
    transform: scale(0, 0);

    &:nth-child(1) {
      transition: all 1s ease;
    }
    &:nth-child(2) {
      transition: all 1s ease 0.1s;
    }
    &:nth-child(3) {
      transition: all 1s ease 0.2s;
    }
    &:nth-child(4) {
      transition: all 1s ease 0.3s;
    }
  }
  &__content_block {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    .choose__number {
      margin-right: 25px;
      opacity: 0.5;
      font-weight: 800;
      font-size: 100px;
      color: #c7b393;
    }
    .choose__number_title {
      display: block;
      font-weight: 800;
      color: $baseTextColor;
    }

    .choose__number_text {
      margin-top: 7px;
      width: 316px;
      line-height: 20px;
      color: $baseTextColor;
    }
  }

  &__anim-block.anim-active {
    opacity: 1;
    transform: scale(1);
  }
}
