.footer {
  padding: 28px 0 75px 0;
  background: #2d2421;

  &__logo_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__logo {
    width: 59px;
    height: 92px;
    img {
      width: 100%;
    }
  }

  &__copyright {
    margin-top: 25px;
    width: auto;
    font-size: 13px;
    line-height: 16px;
    color: rgba($color: #fff5e5, $alpha: 0.3);
  }

  &__menu,
  &__phone {
    margin-top: 41px;
  }

  &__menu {
    display: flex;
    justify-content: center;

    &_link {
      margin: 0 10px;
      padding: 8px;
      font-size: 13px;
      border-radius: 8px;
      border-top: 2px solid transparent;
      border-bottom: 2px solid transparent;
      background-image: linear-gradient(transparent, transparent);
      background-size: 2px 100%;
      background-position: 0 0, 100% 0;
      background-repeat: no-repeat;
      transition: border 0.5s ease;
      color: rgba($color: #fff5e5, $alpha: 0.7);

      &:hover {
        color: $mainTextColor;
        border-top: 2px solid #f7d8b6;
        border-bottom: 2px solid #a4651f;
        background-image: linear-gradient(#f7d8b6, #a4651f),
          linear-gradient(#f7d8b6, #a4651f);
        background-size: 2px 100%;
        background-position: 0 0, 100% 0;
        background-repeat: no-repeat;
      }
    }
  }

  &__phone {
    height: 33px;
    &_number {
      font-size: 13px;
      font-weight: 500;
      color: rgba($color: #fff5e5, $alpha: 0.7);
    }
  }

  @media screen and (max-width: 991px) {
    &__copyright {
      text-align: center;
    }

    &__menu {
      flex-direction: column;
      align-items: center;
    }

    &__phone {
      justify-content: center;
    }
  }
}
