.forms {
  padding-bottom: $sectionIndent;

  .contacts {
    &__img_left {
      display: none;

      @media screen and (max-width: 991px) {
        display: block;
        width: 149px;
        position: absolute;
        top: -76px;
        right: -28px;
        // right: -63px;
        // bottom: -46px;
        img {
          width: 100%;
        }
      }

      @media screen and (max-width: 767px) {
        top: auto;
        bottom: -37px;
        right: -11px;
      }

      @media screen and (max-width: 575px) {
        right: -38px;
      }

      @media screen and (max-width: 425px) {
        width: 111px;
        right: -20px;
        bottom: -43px;
      }
    }
    &__block_left {
      height: 334px;
      background: #ede1ce;
      box-shadow: -15px -15px 40px rgba(255, 246, 231, 0.4),
        15px 15px 20px rgba(215, 200, 176, 0.5);
      border-radius: 10px;
    }
    &__left_title,
    &__left_wrap {
      margin-left: 54px;
    }

    &__left_title {
      padding-top: 40px;
      font-size: 23px;
      font-weight: 800;
      color: $baseTextColor;
      text-transform: uppercase;
      letter-spacing: 1px;
      transform: translate(0, 120%);
      opacity: 0;
      transition: all 1s ease;
    }

    &__left_wrap {
      margin-top: 30px;
      width: 440px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &__info {
      &_title {
        font-size: 18px;
        font-weight: 800;
        color: $baseTextColor;
      }

      &_text {
        margin-top: 10px;
        line-height: 139.9%;
        color: $baseTextColor;
        font-weight: 500;

        a {
          color: $baseTextColor;
        }
      }

      &:last-child {
        margin-top: 20px;
      }
    }

    // Правый блок-------------

    &__block_right {
      position: relative;
      height: 712px;
      background: #f3e7d6;
      box-shadow: 10px 4px 30px rgba(77, 52, 30, 0.25);
      border-radius: 10px;
    }

    &__img {
      width: 184px;
      position: absolute;
      left: -133px;
      top: 99px;
      img {
        width: 100%;
      }
    }

    &__right_title,
    &__right_subtitle,
    &__form {
      margin-left: 88px;
    }

    &__right_title {
      padding-top: 60px;
      text-transform: none;
      text-align: left;
    }

    &__right_subtitle {
      margin-top: 20px;
      line-height: 139.9%;
      color: $baseTextColor;
      font-weight: 500;
    }

    &__form {
      margin-top: 36px;

      textarea,
      input {
        margin: 17px 0;
        padding-left: 18px;
        display: block;
        width: 400px;
        border: none;
        border-radius: 7px;
        opacity: 0.7;
        outline: none;
        font-size: 14px;
        color: rgba($color: $baseTextColor, $alpha: 0.3);
        background: #e8d5ba;
      }

      textarea::placeholder,
      input::placeholder {
        opacity: 0.68;
        font-size: 14px;
        color: rgba($color: $baseTextColor, $alpha: 0.3);
      }

      input {
        height: 60px;
      }

      textarea {
        padding-top: 20px;
        resize: none;
        height: 140px;
      }
    }

    &__button_wrap {
      display: flex;
      justify-content: center;
    }

    @media screen and (max-width: 1199px) {
      &__form {
        textarea,
        input {
          width: 300px;
        }
      }

      &__left_wrap {
        width: 396px;
      }
    }

    @media screen and (max-width: 991px) {
      &__left_wrap {
        width: auto;
        max-width: 500px;
      }

      &__right_title,
      &__right_subtitle,
      &__form {
        margin: 0;
      }

      &__right_title,
      &__right_subtitle {
        text-align: center;
      }

      &__img {
        display: none;
      }

      &__right_subtitle {
        margin-top: 10px;
      }

      &__form {
        margin-top: 46px;

        textarea,
        input {
          margin: 17px auto;
        }
      }
    }

    @media screen and (max-width: 767px) {
      &__left_wrap {
        max-width: 401px;
      }
    }
  }
}
