.main {
  position: relative;
  height: 798px;
  background: url("/assets/img/main__screen.jpg") center center/cover no-repeat;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
  }

  &__header {
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    transition: opacity 1s ease;

    .main__logo {
      width: 59px;
      height: 92px;

      img {
        width: 100%;
      }
    }

    .main__menu {
      @media screen and (min-width: 1199px) {
        margin-left: 105px;
      }
      &_link {
        margin: 0 12px;
        padding: 8px;
        border-radius: 8px;
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;
        background-image: linear-gradient(transparent, transparent);
        background-size: 2px 100%;
        background-position: 0 0, 100% 0;
        background-repeat: no-repeat;
        transition: border 0.5s ease;
        color: rgba(255, 245, 229, 0.8);
        font-weight: 600;

        &:hover {
          color: $mainTextColor;
          border-top: 2px solid #f7d8b6;
          border-bottom: 2px solid #a4651f;
          background-image: linear-gradient(#f7d8b6, #a4651f),
            linear-gradient(#f7d8b6, #a4651f);
          background-size: 2px 100%;
          background-position: 0 0, 100% 0;
          background-repeat: no-repeat;
        }
      }
    }
    .burger {
      display: none;
    }
  }

  // КЛАСС ДЛЯ ЛИПКОГО МЕНЮ ----

  .main__header-sticky {
    position: fixed;
    height: 79px;
    left: 0;
    padding: 7px 17px;
    background-color: #d3c6b1;
    width: 100%;
    opacity: 1;
    z-index: 150;

    .main__logo {
      width: 45px;
      height: 65px;
      img {
        height: 100%;
      }
    }
  }

  &__header.anim-active {
    opacity: 1;
  }

  .main__content {
    margin-top: 178px;
  }
  .main__title,
  .main__subtitle,
  .gr__button_main {
    color: $mainTextColor;

    // АНИМАЦИЯ ПРИ СКРОЛЛЕ

    opacity: 0;
    transform: translate(-25%, 0);
  }

  .main__title.anim-active,
  .main__subtitle.anim-active,
  .gr__button_main.anim-active {
    opacity: 1;
    transform: translate(0, 0);
  }

  .main__title {
    font-size: 38px;
    line-height: 115.9%;
    font-weight: 800;
    transition: all 1.2s ease 0.2s;
  }

  .main__subtitle {
    margin: 30px 0;
    letter-spacing: 0.01em;
    line-height: 136.1%;
    font-weight: 500;
    transition: all 1.2s ease 0.4s;
  }
}

// MOBILE VERSION-----------------

@media screen and (max-width: 991px) {
  .main {
    height: 600px;

    .main__menu {
      position: fixed;
      z-index: 100;
      transition: all 1s ease;
      width: 100vw;
      height: 100vh;
      top: -100vh;
      left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: top 0.5s ease;
      background-color: #ede1ce;

      &_link {
        margin: 10px 0 !important;
        color: $baseTextColor;
      }
    }

    .main__menu-active {
      top: 0;
    }
    .burger {
      z-index: 101;
      display: flex;
      align-items: center;
      height: 30px;
      position: relative;

      span {
        display: block;
        width: 25px;
        height: 2px;
        background-color: #fff5e5;
        transition: all 0.5s ease;
      }
      &::after,
      &::before {
        content: "";
        position: absolute;
        display: block;
        width: 25px;
        height: 2px;
        transform: rotate(0);
        background-color: #fff5e5;
        transition: all 0.5s ease;
      }

      &::after {
        top: 22px;
      }
      &::before {
        top: 6px;
      }
    }

    .burger.burger-active {
      span,
      &::after,
      &::before {
        background-color: #3f2711;
      }
    }

    .burger-active {
      span {
        position: relative;
        transform: scale(0);
      }

      &::after {
        top: 12px;
        transform: rotate(-45deg);
      }

      &::before {
        top: 12px;
        transform: rotate(45deg);
      }
    }
    .main__content {
      margin-top: 100px !important;
    }
    .main__logo {
      order: -3;
    }
    .phone {
      // margin: 0 auto;
      order: -2;
    }
    // }

    &__menu_link {
      margin: 0 5px !important;
    }

    &__content {
      margin-top: 130px !important;
    }
  }
  @media screen and (max-width: 575px) {
    .main {
      height: 567px !important;
    }
    .main__title {
      font-size: 23px !important;
    }
    .main__subtitle {
      max-width: 279px;
      br {
        display: none;
      }
    }
  }
}

.phone {
  display: flex;
  align-items: center;
  &__img {
    margin-right: 7px;
    width: 21px;
    height: 21px;
    img {
      width: 100%;
    }
  }
  &__number {
    font-weight: 500;
    color: $mainTextColor;
  }
}
