.person {
  padding-bottom: $sectionIndent;
  &__img {
    width: 504px;
    img {
      width: 100%;
    }
  }
  &__text_block {
    align-self: center !important;
  }
  &__block {
    padding-left: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 333px;
    background: #ede1ce;
    box-shadow: 9px 9px 30px rgba(192, 173, 144, 0.49), -9px -9px 60px #e0d2bc;
    border-radius: 15px;
  }

  &__post,
  &__name,
  &__title,
  &__text {
    color: $baseTextColor;
  }

  &__post {
    font-size: 14px;
    font-style: italic;
  }

  &__name {
    margin-top: 12px;
    font-weight: 800;
    font-size: 30px;
  }

  &__title {
    margin-top: 19px;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__text {
    margin-top: 10px;
    font-size: 17px;
    line-height: 143.9%;
  }

  @media screen and (max-width: 1199px) {
    &__img {
      margin: 0 auto;
      width: 500px;
    }

    &__block {
      margin: 0 auto;
      padding-left: 40px;
      width: 600px;
      @media screen and (max-width: 767px) {
        padding-left: 20px;
        width: 100%;
      }
    }
  }
}
