    {{> head }}
<body class="no-scroll">
    <div class="preloader__wrap">
        <div class="preloader">
          <img class="preloader__img-earth" src="assets/img/icons/preloader/earth.svg" alt="земля" />
          <img class="preloader__img-flower-leg"
            src="assets/img/icons/preloader/flower-leg.svg"
            alt="стержень цветка"
          />
          <img class="preloader__img-flower" src="assets/img/icons/preloader/flower.svg" alt="цветок" />
        </div>
    </div>
    {{> main }}
    {{> about }}
    {{> chooseUs }}
    {{> activity }}
    {{> products }}
    {{> person }}
    {{> numbers }}
    {{> forms }}
    {{> footer }}
<div class="modal">
  <div class="modal__wrap">
    <div class="modal__sign">“
    </div>
    <div class="modal__text">
      Спасибо! В ближайшее время мы 
      ознакомимся с вопросом <br>
      и дадим Вам обратную связь.
    </div>
  </div>
</div>
<script src="assets/libraries/jquery.min.js"></script>
<script src="assets/libraries/slick.min.js"></script>
<script src="assets/libraries/jquery.validate.min.js"></script>
<script src="assets/js/main.min.js"></script>
</body>
</html>