<section id="about" class="about gr__section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 id="about__title" class="gr__title anim-items">О нас</h2>
      </div>
      <div class="col-12">
        <p class="gr__subtitle about__subtitle anim-items">
          СПК “Григорьевка” - это высокоэффективный хозяйственный <br />
          производитель Алтайского края
        </p>
      </div>
      <div class="col-xl-6 col-12">
        <div class="about__img anim-items">
          <img src="assets/img/section__about-combain.jpg" alt="combain" />
        </div>
      </div>
      <div class="col-xl-6 about__right-anim anim-items">
        <p class="about__img_title">
          С 1992 мы занимаемся производством <br />
          сельскохозяйственной продукции. В своей <br />
          работе стараемся соблюдать три основных принципа:
        </p>
        <ol class="about__img_text">
          <li class="about__img_text_item">
            <span>
              Бережно испльзовать почву, восстанавливать <br />
              и поддерживать плодородность земли
            </span>
          </li>
          <li class="about__img_text_item">
            <span>
              Осуществлять непрерывный процесс <br />
              технической модернизации производства
            </span>
          </li>
          <li class="about__img_text_item">
            <span>
              Быть лучшими в своем деле и не останавливаться <br />
              на достигнутом результате
            </span>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
