<section class="activity gr__section">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 col-lg-9">
        <h2 class="gr__title activity__title anim-items">
          Основная деятельность
        </h2>

        <div class="activity__wrap">
          <div class="activity__block anim-items">
            <div class="activity__block_img">
              <img src="assets/img/icons/activity/wheat.svg" alt="wheat" />
            </div>
            <div class="activity__block_title">Производство</div>
          </div>

          <div class="activity__block anim-items">
            <div class="activity__block_img">
              <img src="assets/img/icons/activity/loop.svg" alt="loop" />
            </div>
            <div class="activity__block_title">Переработка</div>
          </div>

          <div class="activity__block anim-items">
            <div class="activity__block_img">
              <img src="assets/img/icons/activity/box.svg" alt="box" />
            </div>
            <div class="activity__block_title">Хранение</div>
          </div>
        </div>

        <div class="activity__subtitle anim-items">
          сельскохозяйственной продукции
        </div>
      </div>
      <!-- <div class="col-12">
        <h2 class="gr__title activity__title">Основная деятельность</h2>
      </div> -->
      <!-- <div class="col-2">
        <div class="activity__block">
          <div class="activity__block_img">
            <img src="assets/img/icons/activity/wheat.png" alt="wheat" />
          </div>
          <div class="activity__block_title">Производство</div>
        </div>
      </div>
      <div class="col-2">
        <div class="activity__block">
          <div class="activity__block_img">
            <img src="assets/img/icons/activity/loop.png" alt="loop" />
          </div>
          <div class="activity__block_title">Переработка</div>
        </div>
      </div>
      <div class="col-2">
        <div class="activity__block">
          <div class="activity__block_img">
            <img src="assets/img/icons/activity/box.png" alt="box" />
          </div>
          <div class="activity__block_title">Хранение</div>
        </div>
      </div> -->

      <!-- <div class="col-12">сельскохозяйственной продукции</div> -->
    </div>
  </div>
</section>
