<section id="choose" class="choose gr__section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="choose__title gr__title anim-items">
          Почему клиенты выбирают нас
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 choose__anim-block anim-items">
        <div class="choose__content_block">
          <span class="choose__number">01</span>
          <div class="choose__content_wrap">
            <div class="choose__number_title">Качество</div>
            <div class="choose__number_text">
              Строгий контроль на всех этапах: <br />
              от производства до реализации.
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 choose__anim-block anim-items">
        <div class="choose__content_block">
          <span class="choose__number">02</span>
          <div class="choose__content_wrap">
            <div class="choose__number_title">Честность</div>
            <div class="choose__number_text">
              Ответственность в любых <br />
              взаимоотношениях с партнерами
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 choose__anim-block anim-items">
        <div class="choose__content_block">
          <span class="choose__number">03</span>
          <div class="choose__content_wrap">
            <div class="choose__number_title">Инновации</div>
            <div class="choose__number_text">
              Использование мирового опыта, <br />
              оптимизация и усовершенствование
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 choose__anim-block anim-items">
        <div class="choose__content_block">
          <span class="choose__number">04</span>
          <div class="choose__content_wrap">
            <div class="choose__number_title">Партнерство</div>
            <div class="choose__number_text">
              Соблюдение интересов всех <br />
              заинтересованных сторон
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
