<section class="footer">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-lg-2">
        <div class="footer__logo_wrap">
          <div class="footer__logo">
            <img src="assets/img/icons/logo.png" alt="logo" />
          </div>
          <div class="footer__copyright">
            2020 © Григорьевка <br />
            Все права защищены <br />
            Публичная оферта
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <nav class="footer__menu">
          <a href="#" class="footer__menu_link"><span></span>О нас</a>
          <a href="#" class="footer__menu_link"><span></span>Преимущества</a>
          <a href="#" class="footer__menu_link"><span></span>Продукция</a>
          <a href="#" class="footer__menu_link"><span></span>Контакты</a>
        </nav>
      </div>
      <div class="col-lg-2">
        <a href="tel:+79500245116" class="phone footer__phone"
          ><div class="phone__img footer__phone_img">
            <img src="assets/img/icons/phone__main.png" alt="phone" />
          </div>
          <span class="phone__number footer__phone_number"
            >+7 (950)-024-51-16</span
          ></a
        >
      </div>
    </div>
  </div>
</section>
