<section class="gr__section forms">
  <div id="contacts" class="container forms__container">
    <div class="row no-gutters align-items-center">
      <div class="col-md-6">
        <div class="contacts__block_left anim-items">
          <h2 class="contacts__left_title">Контакты</h2>
          <div class="contacts__left_wrap">
            <div class="contacts__info">
              <div class="contacts__info_title">Адрес:</div>
              <div class="contacts__info_text">
                Алтайский край, <br />
                Табунский район, п.Канны
              </div>
            </div>
            <div class="contacts__info">
              <div class="contacts__info_title">Телефон:</div>
              <div class="contacts__info_text">
                <a href="tel:+79237494167" class="info__phone"
                  >+7 (923) 749-41-67</a
                >
                <br />
                <a href="tel:+79059884027" class="info__phone"
                  >+7 (905) 988-40-27</a
                >
              </div>
            </div>
            <div class="contacts__info">
              <div class="contacts__info_title">Почта:</div>
              <div class="contacts__info_text">
                <a href="mailto:spk.grogorevka@mail.ru"
                  >spk.grogorevka@mail.ru</a
                >
                <br />
                <a href="mailto:gaan.79@mail.ru">gaan.79@mail.ru</a>
              </div>
            </div>
          </div>
          <div class="contacts__img_left">
            <img src="assets/img/bag.png" alt="bag" />
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="contacts__block_right anim-items">
          <div class="contacts__img">
            <img src="assets/img/bag.png" alt="bag" />
          </div>
          <h2 class="gr__title contacts__right_title">
            Есть вопросы?
          </h2>
          <div class="contacts__right_subtitle">
            Мы с удовольствием ответим <br />
            на любой ваш вопрос
          </div>
          <form
            id="gr-form"
            name="call Back"
            class="callBack-form"
            method="POST"
          >
            <div class="contacts__form">
              <input name="up" value="Форма связи" type="hidden" />
              <input
                class="contacts__form_name"
                name="name"
                type="text"
                placeholder="Ваше имя"
                required
              />
              <input
                id="phone-form"
                class="contacts__form_phone"
                name="phone"
                type="tel"
                placeholder="Ваш номер телефона"
                required
              />
              <input
                class="contacts__form_email"
                name="email"
                type="email"
                placeholder="Ваш  e-mail"
                required
              />
              <textarea
                name="message"
                placeholder="Введите сообщение"
                class="contacts__form_message"
                required
              ></textarea>
            </div>
            <div class="contacts__button_wrap">
              <button type="submit" class="contacts__right_button gr__button">
                Задать вопрос
              </button>
            </div>
          </form>
          <!-- <div class="contacts__button_wrap">
            <button type="submit" lass="contacts__right_button gr__button">
              Задать вопрос
            </button>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
