<section class="main">
  <div class="container main__container">
    <div class="row justify-content-space-between">
      <div class="col-xl-12">
        <header class="main__header">
          <div class="main__logo">
            <img src="assets/img/icons/logo.png" alt="logo" />
          </div>
          <nav class="main__menu">
            <a href="#about" class="main__menu_link"><span></span>О нас</a>
            <a href="#choose" class="main__menu_link"
              ><span></span>Преимущества</a
            >
            <a href="#products" class="main__menu_link"
              ><span></span>Продукция</a
            >
            <a href="#contacts" class="main__menu_link"
              ><span></span>Контакты</a
            >
          </nav>
          <div class="burger"><span></span></div>

          <a href="tel:+79500245116" class="phone hvr-buzz"
            ><div class="phone__img">
              <img src="assets/img/icons/phone__main.png" alt="phone" />
            </div>
            <span class="phone__number">+7 (950)-024-51-16</span></a
          >
        </header>
      </div>
    </div>

    <div class="row main__content">
      <div class="col-12">
        <h1 class="main__title">
          Современные технологии <br />
          в сельском хозяйстве
        </h1>
        <p class="main__subtitle">
          Более 25 лет мы успешно занимаемся выращиванием <br />
          сельскохозяйсвтенной продукции <br />
          на алтайской земле
        </p>
        <button class="gr__button gr__button_main hvr-wobble-bottom">
          <a href="#about">Подробнее</a>
        </button>
      </div>
    </div>
  </div>
</section>
