<section class="gr__section numbers">
  <div class="container numbers__container">
    <div class="row no-gutters">
      <div class="col-3 numbers__wrap_wheat">
        <div class="numbers__wheat">
          <img src="assets/img/wheat.png" alt="wheat" />
        </div>
      </div>
      <div class="col-xl-6">
        <h2 class="gr__title numbers__title">
          СПК «Григорьевка» в цифрах
        </h2>
        <div class="numbers__wrap">
          <div class="numbers__wrap_block">
            <span class="numbers__wrap_numeric">28</span
            ><span class="numbers__wrap_postfix">лет</span>
            <div class="numbers__wrap_text">опыта работы</div>
          </div>
          <div class="numbers__wrap_block">
            <span class="numbers__wrap_numeric">15 000</span
            ><span class="numbers__wrap_postfix">га</span>
            <div class="numbers__wrap_text">обрабатываемых полей</div>
          </div>
        </div>
      </div>
      <div class="col-3 numbers__wrap_wheat">
        <div class="numbers__wheat numbers__wheat_right">
          <img class="wheat__right" src="assets/img/wheat.png" alt="wheat" />
        </div>
      </div>
    </div>
  </div>
</section>
