<section class="person gr__section">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="person__img">
          <img src="assets/img/photo.png" alt="photo" />
        </div>
      </div>
      <div class="col-lg-7 person__text_block">
        <div class="person__block">
          <div class="person__post">Председатель СПК “Григорьевка”</div>
          <div class="person__name">Гаан Иван Андреевич</div>
          <div class="person__title">Наша миссия:</div>
          <div class="person__text">
            Каждый сотрудник СПК «Григорьевка» инвестирует <br />
            свои силы и знания в развитие сельского хозяйства <br />
            для благополучия будущего Земли и ее жителей.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
