<section id="products" class="products gr__section">
  <div class="container">
    <h2 class="gr__title anim-items">Продукция</h2>
    <div class="slider anim-items">
      <div class="slider__item anim-items">
        <div class="slider__item_block">
          <div class="slider__item_leftSide">
            <h3 class="slider__item_title">Подсолнечник</h3>
            <div class="slider__item_info">
              <div class="slider__item_info_title">Гибрид:</div>
              <ul class="slider__item_info_list">
                <li>Родар</li>
                <li>Пионер</li>
              </ul>
              <div class="slider__item_info_title">Сорта:</div>
              <ul class="slider__item_info_list">
                <li>Крупноплодный</li>
                <li>Алтай</li>
                <li>Посейдон</li>
              </ul>
            </div>
          </div>
          <div class="slider__item_img">
            <img src="assets/img/icons/slider/sunflower.png" alt="buckwheat" />
          </div>
        </div>
      </div>

      <div class="slider__item anim-items">
        <div class="slider__item_block">
          <div class="slider__item_leftSide">
            <h3 class="slider__item_title">Пшеница</h3>
            <div class="slider__item_info">
              <div class="slider__item_info_title">Сорта:</div>
              <ul class="slider__item_info_list">
                <li>Табольская степная</li>
                <li>Степная волна</li>
                <li>Сибирская 12</li>
                <li>Караван</li>
              </ul>
            </div>
          </div>
          <!-- <div class="slider__item_rightSide"> -->
          <div class="slider__item_img">
            <img src="assets/img/icons/slider/wheat.png" alt="wheat" />
          </div>
          <!-- </div> -->
        </div>
      </div>

      <div class="slider__item anim-items">
        <div class="slider__item_block">
          <div class="slider__item_leftSide">
            <h3 class="slider__item_title">Гречиха</h3>
            <div class="slider__item_info">
              <div class="slider__item_info_title">Сорт:</div>
              <ul class="slider__item_info_list">
                <li>Инзерская</li>
              </ul>
            </div>
          </div>
          <!-- <div class="slider__item_rightSide"> -->
          <div class="slider__item_img">
            <img src="assets/img/icons/slider/buckwheat.png" alt="buckwheat" />
          </div>
          <!-- </div> -->
        </div>
      </div>

      <div class="slider__item anim-items">
        <div class="slider__item_block">
          <div class="slider__item_leftSide">
            <h3 class="slider__item_title">Нут</h3>
            <div class="slider__item_info">
              <div class="slider__item_info_title">Сорта:</div>
              <ul class="slider__item_info_list">
                <li>Бонус</li>
                <li>Галилео</li>
              </ul>
            </div>
          </div>
          <!-- <div class="slider__item_rightSide"> -->
          <div class="slider__item_img">
            <img src="assets/img/icons/slider/nut.png" alt="len" />
          </div>
          <!-- </div> -->
        </div>
      </div>

      <div class="slider__item anim-items">
        <div class="slider__item_block">
          <div class="slider__item_leftSide">
            <h3 class="slider__item_title">Лён</h3>
            <div class="slider__item_info">
              <div class="slider__item_info_title">Сорт:</div>
              <ul class="slider__item_info_list">
                <li>Северный</li>
              </ul>
            </div>
          </div>
          <!-- <div class="slider__item_rightSide"> -->
          <div class="slider__item_img">
            <img src="assets/img/icons/slider/len.png" alt="len" />
          </div>
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
