// html,
body {
  position: relative;
  overflow-x: hidden;
}
body {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
h1,
h2,
h3,
p {
  margin: 0;
}
a {
  text-decoration: none;
}

.no-scroll {
  position: relative;
  overflow: hidden !important;
}

.gr__section {
  padding-top: $sectionIndent;
  background-color: $baseBg;

  @media screen and (max-width: 500px) {
    padding-top: $sectionIndentMobile;
  }
}
.gr__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 800;
  color: $baseTextColor;
  letter-spacing: 1px;

  // АНИМАЦИЯ ПОЯВЛЕНИЯ ЗАГОЛОВКОВ
  transform: translate(0, 120%);
  opacity: 0;
  transition: all 1s ease;
}
.gr__title.anim-active {
  transform: translate(0, 0) !important;
  opacity: 1 !important;
}
.gr__subtitle {
  line-height: 139.9%;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.04em;
  text-align: center;
  color: $baseTextColor;

  // АНИМАЦИЯ ПОЯВЛЕНИЯ ПОДЗАГОЛОВКОВ
  transform: translate(0, 120%);
  opacity: 0;
  transition: all 1s ease;
}
.gr__subtitle.anim-active {
  transform: translate(0, 0);
  opacity: 1;
}

// .body_hide {
//   opacity: 0;
//   transition: 1s opacity ease-in-out;
// }

// .body_visible {
//   opacity: 1 !important;
// }

.preloader__wrap {
  position: fixed;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ede1ce;
  opacity: 1;
  transition: opacity 1s ease;

  .preloader {
    position: relative;
    width: 100px;
    height: 115px;

    img {
      position: absolute;
    }

    &__img {
      &-earth,
      &-flower-leg,
      &-flower {
        opacity: 0;
      }

      &-earth {
        left: 50%;
        bottom: 21px;
        transform: translateX(-50%);
        transition: opacity 2s ease 0.1s;
      }

      &-flower-leg {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: opacity 3s ease 0.7s;
      }

      &-flower {
        top: -10px;
        left: 22px;
        transition: opacity 2s ease 1.5s;
        // Анимация вращения
        animation-name: rotation;
        animation-duration: 1.2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }

      @keyframes rotation {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }
  }
}

.preloader__hide {
  opacity: 0 !important;
}

.preloader__img_show {
  opacity: 1 !important;
}

// АНИМАЦИЯ ТЕЛЕФОННОЙ ТРУБКИ

@-webkit-keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
@keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
.hvr-buzz-out {
  .phone__img {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
}
.hvr-buzz-out:hover,
.hvr-buzz-out:focus,
.hvr-buzz-out:active {
  .phone__img {
    -webkit-animation-name: hvr-buzz-out;
    animation-name: hvr-buzz-out;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }
}
