body {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
h1,
h2,
h3,
p {
  margin: 0;
}
a {
  text-decoration: none;
}

.gr__section {
  padding-top: $sectionIndent;
  background-color: $baseBg;

  @media screen and (max-width: 500px) {
    padding-top: $sectionIndentMobile;
  }
}
.gr__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 800;
  color: $baseTextColor;
}
.gr__subtitle {
  line-height: 139.9%;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.04em;
  text-align: center;
  color: $baseTextColor;
}
