@media screen and (max-width: 500px) {
  .main__header {
    padding-top: 30px;
  }
}
@media screen and (max-width: 991px) {
  .forms {
    position: relative;

    .contacts__block_left {
      position: relative;
      top: 30px;
      height: 380px;
      z-index: 2 !important;
    }

    .contacts__block_right {
      position: relative;
      z-index: 1 !important;
    }

    @media screen and (max-width: 575px) {
      padding-bottom: $sectionIndentMobile;
      .contacts__block_left {
        margin: 0 auto;
        width: 350px;
        height: 380px;
      }

      .contacts__block_right {
        margin: 0 auto;
        width: 400px;
      }

      .contacts__info {
        margin-top: 20px;

        &:first-child {
          margin-top: 0;
        }
      }
    }

    @media screen and (max-width: 425px) {
      .forms__container {
        padding: 0;
      }
      .contacts__block_left {
        width: 276px;

        .contacts__left_title,
        .contacts__left_wrap {
          margin-left: 24px;
        }

        .contacts__left_title {
          font-size: 20px;
        }
      }
      .contacts__block_right {
        width: 100%;

        input,
        textarea {
          max-width: 283px;
        }
      }
    }
  }
}

@media screen and (max-width: 545px) {
  .activity {
    padding-top: $sectionIndentMobile;
    padding-bottom: $sectionIndentMobile;

    &__title {
      font-size: 26px;
      line-height: 139.9%;
    }

    &__subtitle {
      font-size: 22px;
    }

    &__wrap {
      flex-wrap: wrap;
    }

    &__block {
      margin: 20px auto;
      flex-basis: 100%;

      &:first-child {
        margin-top: 30px;
      }

      &:last-child {
        margin-bottom: 39px;
      }
    }
  }

  .person {
    padding-top: 0 !important;
    &__img {
      margin: 41px auto 0;
      width: 90%;
    }

    &__block {
      height: auto;
      padding-top: 30px;
      padding-bottom: 30px;
      width: 100%;
    }

    &__post {
      font-size: 15px;
    }

    &__name {
      margin-top: 10px;
      font-size: 18px;
    }

    &__title {
      margin-top: 20px;
      font-size: 14px;
    }

    &__text {
      max-width: 354px;
      font-size: 15px;
      br {
        display: none;
      }
    }
  }

  .numbers {
    padding-bottom: $sectionIndentMobile;
    &__title {
      margin-top: 0;
      padding-top: 60px;
      margin: 0 auto;
      max-width: 270px;
    }

    &__wrap_numeric {
      font-size: 70px;
    }

    &__wrap_block:first-child {
      width: 150px;
      .numbers__wrap_numeric {
        margin-left: 10px;
      }
      .numbers__wrap_text-marginRight {
        display: inline;
        text-align: center;
      }
    }

    @media screen and (max-width: 388px) {
      &__wrap_block {
        margin: 0 auto !important;
        padding-left: 20px;

        &:first-child {
          margin-bottom: 20px !important;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .gr__title {
    font-size: 20px !important;
  }
  .choose {
    padding-bottom: 50px;

    &__title {
      font-size: 26px;
      margin-bottom: 0;
    }

    &__content_block {
      &:first-child {
        margin-top: 20px;
      }
    }
    &__number {
      display: none;

      &_title {
        text-align: center;
      }

      &_text {
        text-align: center;
        width: 154px !important;
      }
    }
  }
}

@media screen and (max-width: 465px) {
  .products {
    padding-bottom: 0 !important;
  }
  .slider {
    margin-top: 3px !important;
    padding: 0 !important;
    padding-bottom: 30px !important;
    height: auto !important;

    &__item {
      margin: 25px 0;

      &:last-child {
        margin-bottom: 0;
      }

      &_block {
        position: relative;
      }
    }
  }
}
